<h1>Products</h1>
 <p><%= link_to "New Product", new_account_product_path, class: "btn btn-info" %></p>
<thead>
<% if @products.empty? %>
<b>No products in the store</b>
<% else %>
<table class="table table-striped">
    <tr>
      <th scope="col">ID:</th>
      <th scope="col">Name:</th>
      <th scope="col">Price:</th>
      <th scope="col">Description:</th>
      <th scope="col">Delete:</th>
    </tr>
  </thead>
<% end %>
<% @products.each do |product| %>
  <tbody>
    <tr> 
      
      <td><%= product.id %></td>
      <td><%= link_to product.name, account_product_path(product) %></td>
      <td><%= product.price %> $ </td>
      <td><%= product.description %></td>
      <td><%= link_to "Delete", account_product_path(product), method: :delete, 
        data: {confirm: "Are you sure?"} %></td>
    </tr>
    </tbody>
   

<% end %>
