<h1>Products</h1>
 <p><%= link_to "New Product", new_product_path, class: "btn btn-info" %></p>
<thead>
<% if @products.empty? %>
<b>No products in the store</b>
<% else %>
<table class="table table-bordered table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Buy</th>
    </tr>
  </thead>
<% end %>
<% @products.each do |product| %>
  <tbody>
    <tr> 
      
      <td><%= product.id %></td>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.price %> грн</td>
      <td><%= link_to "Buy", add_to_cart_account_product_path(current_user, id: product.id), method: :post %></td>
    </tr>
    </tbody>
<% end %>
